---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Plan from "../components/Plan.astro";
import Pixar from "../components/Pixar.astro";
import Originales from "../components/Originales.astro";
import Preguntas from "../components/Preguntas.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Disney+ | Disney, Pixar, Marvel y National Geographic Clone"
  content="El sitio web donde podras encontrar todas las peliculas que algun dia viste en tu infancia, donde podras encontrar a esos superheroes que tanto añoraste. Que esperas?"
>
  <main>
    <Banner />
    <Plan />
    <Pixar />
    <Originales />
    <Preguntas />
    <Footer />
  </main>
</Layout>
