---

---

<div class="banner">
  <div class="banner_container">
    <img class="logo" src="Logo.svg" alt="" />
    <h1>Tus historias favoritas, todas en un mismo lugar.</h1>
    <a class="banner_bottom" href="#">CONTRATA LA OFERTA COMBO+</a>
    <a href="#" class="banner_llamada">Suscribirme solo a Disney+</a>
  </div>
  <div class="banner">
    <img class="banner_img" src="Banner.jpeg" alt="" />
  </div>
  <button class="banner_bottom-login"><a href="#">INICAR SESSION</a></button>
</div>

<style>
  .logo {
    width: 30%;
    margin-top: 110px;
  }

  .banner_container {
    margin: 80px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
  }

  .banner_container h1 {
    margin-top: 30px;
    font-size: 40px;
  }

  .banner_img {
    position: absolute;
    top: 80px;
    height: 70%;
    right: 0;
    width: 45%;
  }

  .banner_bottom {
    width: 100%;
    background-color: #6421ff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    margin: 30px 0 20px 0px;
    font-size: 20px;
  }

  .banner_llamada {
    font-size: 20px;
  }

  .banner_bottom-login {
    width: 13%;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: #000;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 30px;
  }

  .banner_bottom-login a {
    text-decoration: none;
  }

  .banner {
    margin-bottom: 220px;
  }
</style>
