---

---

<div class="footer">
  <div class="footer_container">
    <img src="../../public/images/Logo.svg" alt="" />
    <div class="footer_container-text">
      <button><i class="fa-solid fa-globe"></i> Español <i class="fa-solid fa-sort-down"></i></button>
      <a href="#">Terminos de uso</a>
      <a href="#">Política de privacidad</a>
      <a href="#">Complemento Política de privacidad</a>
      <a href="#">Publicidad personalizada</a>
      <a href="#">Dispositivos compatibles</a>
      <a href="#">Ayuda</a>
    </div>
    <div class="footer_container-text-dos">
      <a href="#">Acerca de Disney+</a>
    </div>
    <div class="footer_container-text-tres">
      <p>© 2024 Disney y su familia de compañías afiliadas. Todos los derechos reservados.</p>
    </div>
    <div class="footer_container-text-cuatro">
      <p>
        Disney+ es un servicio por suscripción de pago, su contenido está sujeto a disponibilidad. El servicio Disney+ es
        comercializado por The Walt Disney Company Colombia S.A, Calle 70 Bis No. 4 – 41, Bogotá D.C., Colombia. y número de NIT
        es 800.236.937-1
      </p>
    </div>
  </div>
</div>

<style>
  img {
    width: 6%;
  }

  p {
    color: #40424a;
  }

  .footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: center;
    font-weight: 700;
    font-family: sans-serif;
  }

  .footer_container img {
    margin: 20px;
  }

  .footer_container a {
    text-decoration: none;
    color: #40424a;
  }

  .footer_container a:hover {
    color: #d4d4d4;
  }

  .footer_container-text {
    font-size: 13px;
    margin: 10px;
    color: #6d6d6d;
  }

  .footer_container-text a {
    margin: 0px 6px;
    color: #40424a;
    font-size: 12px;
  }

  .footer_container-text a:hover {
    color: #d4d4d4;
  }

  .footer_container-text button {
    border: none;
    color: #40424a;
    font-weight: 700;
    cursor: pointer;
  }

  .footer_container-text button:hover {
    color: #d4d4d4;
  }

  .footer_container-text button i {
    color: #40424a;
  }

  .footer_container-text a {
    text-decoration: none;
  }

  .footer_container-text-dos,
  .footer_container-text-tres,
  .footer_container-text-cuatro {
    font-size: 12px;
    margin: 8px;
  }

  .footer_container-text-cuatro {
    width: 80%;
    text-align: center;
  }
</style>
