---

---

<div class="originals">
  <h1>Originales Disney+ exclusivos</h1>
  <p>Disfruta de películas, series y documentales nunca antes vistos. Solo en Disney+.</p>
  <div class="images">
    <img src="../../public/images/image-02.jpeg" alt="" />
    <img src="../../public/images/image-03.jpeg" alt="" />
    <img src="../../public/images/image-04.jpeg" alt="" />
    <img src="../../public/images/image-05.jpeg" alt="" />
    <img src="../../public/images/image-06.jpeg" alt="" />
    <img src="../../public/images/image-07.jpeg" alt="" />
    <img src="../../public/images/image-8.jpeg" alt="" />
    <img src="../../public/images/image-9.jpeg" alt="" />
    <img src="../../public/images/image-10.jpeg" alt="" />
  </div>
</div>

<style>
  .originals {
    text-align: center;
    margin: 0px 40px;
    margin-bottom: 150px;
  }

  .originals h1 {
    margin: 15px 0;
    font-size: 40px;
  }

  .originals p {
    font-size: 20px;
    color: silver;
    margin: 20px;
  }

  .originals img {
    max-width: 30%;
    border-radius: 5px;
    margin: 8px;
  }
</style>
