---

---

<div class="info">
  <div class="info_container-one">
    <h1>Cuando quieras, donde quieras</h1>
    <p>
      Disfrútalo en tu pantalla favorita, ya sea tu TV, tableta, computadora, teléfono y otros. Vive una experiencia única con una
      amplia selección de títulos en 4K. Además, puedes ver en cuatro pantallas en simultáneo para que nadie se quede afuera.
    </p>
  </div>
  <div class="info_container-two">
    <img src="../../public/images/image-01.png" alt="Imagen de Pixar" />
  </div>
</div>

<style>
  .info {
    display: flex;
    margin: 80px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 12%;
  }

  .info_container-one {
    max-width: 45%;
    margin: 0px 10px;
  }

  .info_container-one h1 {
    width: 80%;
    font-size: 40px;
  }

  .info_container-one p {
    font-size: 20px;
    margin: 20px 0px;
    color: rgb(192, 192, 192);
  }

  .info_container-two img {
    max-width: 90%;
  }
</style>
