---

---

<div class="table">
  <h1 class="div_h1">Elige tu plan</h1>
  <p class="div_p">Puedes cancelar en cualquier momento</p>
  <div class="tabla_container">
    <div class="tabla_container-div">
      <div class="tabla_container-div-a"></div>
      <div class="tabla_container-div-b combo-uno">
        <p>Disney+</p><img src="../../public/images/Logo.svg" alt="" /><a href="#" class="bottom_mes-uno">COP 25.900/MES*</a>
      </div>
      <div class="tabla_container-div-c text_div-c combo-dos">
        <p>Combo+</p><img src="../../public/images/Logo_Start.png" alt="" /><a href="#" class="bottom_mes-dos">COP 41.900/MES*</a>
      </div>
    </div>
  </div>
  <div class="tabla_container">
    <div class="tabla_container-div">
      <div class="tabla_container-div-a precio_anual">Precio anual</div>
      <div class="tabla_container-div-b">¡12 meses al precio de 10! <a class="bottom_anual" href="#">COP 239.000/AÑO*</a></div>
      <div class="tabla_container-div-c">-</div>
    </div>
  </div>
  <div class="tabla_container">
    <div class="tabla_container-div">
      <div class="tabla_container-div-a">
        Estrenos de películas, series originales y clásicos de Disney, Pixar, Marvel, Star Wars y National Geographic
      </div>
      <div class="tabla_container-div-b">
        <p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-check"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="#ffffff"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 12l5 5l10 -10"></path>
          </svg>
        </p>
      </div>
      <div class="tabla_container-div-c"><p><i class="fa-solid fa-check text_div-c"></i></p></div>
    </div>
  </div>
  <div class="tabla_container">
    <div class="tabla_container-div">
      <div class="tabla_container-div-a">
        Deportes en vivo de las mejores ligas del mundo y los torneos más importantes de ESPN
      </div>
      <div class="tabla_container-div-b">-</div>
      <div class="tabla_container-div-c">-</div>
    </div>
  </div>
  <div class="tabla_container">
    <div class="tabla_container-div">
      <div class="tabla_container-div-a">
        Producciones locales y películas, series y programas de TV premiados exclusivos de Star+
      </div>
      <div class="tabla_container-div-b">-</div>
      <div class="tabla_container-div-c"><p><i class="fa-solid fa-check text_div-c"></i></p></div>
    </div>
  </div>
  <div class="tabla_container">
    <div class="tabla_container-div">
      <div class="tabla_container-div-a">Dispositivos para ver en simultáneo</div>
      <div class="tabla_container-div-b">4</div>
      <div class="tabla_container-div-c">4 + 4</div>
    </div>
  </div>
  <div class="tabla_container">
    <div class="tabla_container-div">
      <div class="tabla_container-div-a">Descargas para ver tus favoritos sin conexión ni demoras</div>
      <div class="tabla_container-div-b">
        <p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-check"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="#ffffff"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 12l5 5l10 -10"></path>
          </svg>
        </p>
      </div>
      <div class="tabla_container-div-c"><p><i class="fa-solid fa-check text_div-c"></i></p></div>
    </div>
  </div>
  <div class="tabla_container">
    <div class="tabla_container-div">
      <div class="tabla_container-div-a">Perfiles personalizados</div>
      <div class="tabla_container-div-b">7</div>
      <div class="tabla_container-div-c">7 + 7</div>
    </div>
  </div>
  <div class="tabla_container">
    <div class="tabla_container-div div-ocho">
      <div class="tabla_container-div-a">Controles parentales para proteger a tu familia</div>
      <div class="tabla_container-div-b">
        <p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-check"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="#ffffff"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 12l5 5l10 -10"></path>
          </svg>
        </p>
      </div>
      <div class="tabla_container-div-c"><p><i class="fa-solid fa-check text_div-c"></i></p></div>
    </div>
  </div>
  <p class="advertencia">
    *El precio podría variar en otras plataformas. Podrían aplicar cargos de terceros no asociados a Disney.
  </p>
</div>

<style>
  .table {
    margin-bottom: 50px;
  }

  .div_h1 {
    text-align: center;
    margin-bottom: 5px;
  }
  .div_p {
    text-align: center;
    margin-bottom: 70px;
    font-size: 20px;
  }

  .tabla_container-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 0px 200px;
  }

  .tabla_container-div-a {
    padding: 5px;
    border-bottom: 1px solid #40424a;
    display: flex;
    align-items: center;
  }

  .tabla_container-div-b {
    padding: 5px;
    height: 100px;
    border-bottom: 1px solid #40424a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tabla_container-div-c {
    padding: 5px;
    height: 100px;
    border-bottom: 1px solid #40424a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d1f2b;
  }

  .bottom_anual {
    padding: 12px;
    width: 80%;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #0072d2;
  }

  .bottom_mes-uno {
    padding: 12px;
    width: 80%;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #0072d2;
  }

  .bottom_mes-dos {
    padding: 12px;
    width: 80%;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #6421ff;
  }

  img {
    max-width: 100px;
  }

  .combo-uno {
    height: 250px;
    border-top: 2px solid #40424a;
  }

  .combo-dos {
    border-top: 2px solid #40424a;
    height: 250px;
  }

  .combo-dos p {
    background-color: #1d1f2b;
  }

  .combo-dos img {
    background-color: #1d1f2b;
    max-width: 120px;
  }

  .advertencia {
    font-size: 12px;
    font-style: italic;
    color: silver;
    margin: 20px 0px 10em 200px;
  }

  .tabla_container-div-c p {
    background-color: #1d1f2b;
  }

  .fa-check {
    background-color: #1d1f2b;
  }
</style>
